body {
	font-family: helvetica;
	text-align: center;
	display: flex;
	flex-direction: column;
}

ul {
	padding: 40px;
	margin: 0px auto;	
}

li {
	list-style: none;
	text-align: left;
	background-color: lightgrey;
	padding: 10px 50px;
}

h1 {
	padding-bottom: 15px;
	transition: 5s;
	border-bottom: 2px solid black;
}
h1:hover {
	color: darkgrey;
	transition: 5s;
	cursor: default;
}

.form {
	background: lightgrey;
	border-radius: 15px;
	height: 100px;
	width: 300px;
	padding: 20px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-content: space-between;
	box-shadow: 5px 5px 10px black;
}

.form div {
	padding: 5px;
}

#button {
	background-color: black;
	color: white;
	padding: 5px;
	transition: 2s;
	box-shadow: 2px 2px 10px black;
	border-radius: 10px;
}
#button:hover {
	background-color: darkgrey;
	color: black;
	transition: 0.25s;
	box-shadow: 5px 5px 30px lightblue;
}

#response {
	font-size: 1.1em;
	padding-left: 10px;
	padding-right: 10px;
}