<form action="/todos" method="POST">
  
  <!-- recipe -->
  <div>
    <label for="description">description:</label>
    <input type="text" name="description">
  </div>
  
  <!-- veggie? -->
  <div>
    <label for="urgent">veggie:</label>
    <span>yes</span><input type="radio" name="urgent" value="true" checked>
    <span>no</span><input type="radio" name="urgent" value="false">
  </div>
  
  <!-- button -->
  <div>
    <input type="submit" value="Add a new recipe">
  </div>
  
</form>
