<h1 class="header">There are {{pokemon.length}} pokemon listed</h1>

<button><a href="pokemon/" id="randomButton">Random Pokemon</a></button>

<div class="addNew">
	<form action="/pokemon/new">
		<input type="submit" value="Register a new Poke" class="add">
	</form>
</div>

<ul id="list">
	{{#each pokemon}}
	<li>
		<a href="/pokemon/{{@index}}">
			{{name}}
		</a>
	</li>
	{{/each}}
</ul>
