<h1 class="header">There are {{pokemon.length}} pokemon listed</h1>

<div class="addNew">
	<form action="/pokemon/new">
		<input type="submit" value="Register a new Poke" class="add">
	</form>
</div>

<ul id="list">
	{{#each pokemon}}
		<a href="/pokemon/{{@index}}">
			<li>{{name}}</li>
		</a>
	{{/each}}
</ul>

