<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokemon!</title>
  <link rel="stylesheet" href="/css/styles.css" type="text/css">
</head>
<body>
  {{{body}}}


<footer></footer>
</body>
</html>