<h1 class="header"><a href="/pokemon">Add a new Poke!</a></h1>

<form action="/pokemon" method="post" class="addForm">
<!-- GIVE CLASSES??? -->


  <div class="submitForm">
    <label for="pokemon-id">Id: </label>
    <input id="pokemon-id" class="form-control" type="number" name="id" value="" required>
  </div>


  <div class="form-group">
    <label for="pokemon-name">Name: </label>
    <input id="pokemon-name" class="form-control" type="text" name="name" value="" required>
  </div>



  <div class="form-group">
    <label for="pokemon-type">Type: </label>
    <input id="pokemon-type" class="form-control" type="text" name="type" value="" required>
  </div>



  <!-- make this break pretty -->


<!--   <div class="form-group">
    <label for="pokemon-hp">Hp</label>
    <input id="pokemon-hp" class="form-control" type="number" name="hp" value="" required>
  </div>
  <div class="form-group">
    <label for="pokemon-attack">Attack</label>
    <input id="pokemon-attack" class="form-control" type="number" name="attack" value="" required>
  </div>
  <div class="form-group">
    <label for="pokemon-defense">Defense</label>
    <input id="pokemon-defense" class="form-control" type="number" name="defense" value="" required>
  </div>
  <div class="form-group">
    <label for="pokemon-speed">Sp. attack</label>
    <input id="pokemon-speed" class="form-control" type="number" name="speed" value="" required>
  </div>
  <div class="form-group">
    <label for="pokemon-classification">Sp. defense</label>
    <input id="pokemon-classification" class="form-control" type="text" name="classification" value="" required>
  </div>
  <div class="form-group">
    <label for="pokemon-classification">Speed</label>
    <input id="pokemon-classification" class="form-control" type="text" name="classification" value="" required>
  </div>
  <div class="form-group">
    <label for="pokemon-img">Image URL</label>
    <input id="pokemon-img" class="form-control" type="url" name="img" value="" required>
  </div> -->

	<button class="button" type="submit" name="button">
	<p>Add it!</p>
	<!-- ???? <a href="/pokemon" class="addNewBtn">Add it!</a> ???? -->
	</button>




</form>