<h1>Add a new pirate</h1>
<form action="/pirates" method="POST">
  <div>
    <label for="name">Name: </label>
      <input type="text" name="name">
  </div>
  <div>
    <label for="birthplace">Birthplace: </label>
      <input type="text" name="birthplace">
  </div>
  <div>
    <label for="death_year">Death Year: </label>
      <input type="text" name="death_year">
  </div>
  <div>
    <label for="base">Base: </label>
      <input type="text" name="base">
  </div>
  <div>
    <label for="nickname">Nickname: </label>
      <input type="text" name="nickname">
  </div>

  <div>
    <input type="submit" value="Add Pirate to List">
  </div>