body {
    text-align: center;
    font-size: 1.5em;
}
h1 {
    margin-top: 30px;
}
ul {
    margin-top: 30px;
    list-style-type: none;
}
span {
    font-weight: bold;
}
.btn.btn-default, .btn.btn-link {
    margin-top: 20px;
}